.input-wrapper{
    background-color: white;
    display:flex;
    justify-content: end;
    align-items:end;
    flex-direction:column;
    padding:0 10px

}

.result{
    flex:1;
    font-size: 15px;
    font-style: normal;
}
.text{
    min-height: 70px;
}